/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #4A7B78;
    --secondary-color: #6DA0A6;
    --tertiary-color: #335351;
    --background-color: #f6f6f6;
    --text-color: #333333;
    --white: #ffffff;
    --gray: #cccccc;
    --transition: all 0.3s ease;
}

/* Estilos do footer */
.main-footer {
    background-color: var(--tertiary-color);
    color: var(--white);
    padding: 2.5rem 0 1.25rem;
    margin-left: 3.75rem;
}

.main-footer p{
    color: var(--white);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 1.25rem;
}

.footer-section {
    flex: 1;
    min-width: 15.625rem;
    margin-bottom: 1.25rem;
}

.footer-section h4 {
    color: #fff;
    margin-bottom: .9375rem;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: .625rem;
}

.footer-section ul a {
    color: var(--white);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section ul a:hover {
    color: #fff;
}

.social-icons {
    display: flex;
    gap: .625rem;
    margin-top: .9375rem;
}

.social-icon {
    color: #ecf0f1;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: var(--primary-color);
}

.footer-bottom {
    text-align: center;
    padding-top: 1.25rem;
    margin-top: 1.25rem;
    border-top: .0625rem solid var(--tertiary-color);
}

.footer-section ul a {
    position: relative;
    overflow: hidden;
}

 .footer-section ul a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: .125rem;
    background-color: var(--primary-color);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

 .footer-section ul a:hover::after {
    transform: scaleX(1);
}

.footer {
    display: none;
}

/* Responsividade */
@media (max-width: 64rem) {
    .two-column-layout {
        flex-direction: column;
    }
}

@media (max-width: 48rem) {
    .main-footer {
        margin: 0;
    }

    .footer-content {
        flex-direction: column;
    }

}